@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 240 10% 3.9%;
    --card: 240 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 20% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 276 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 15% 88%;
    --input: 240 15% 88%;
    --ring: 276 100% 50%;
    --radius: 0.5rem;

    --chart-1: 275 100% 25%;
    --chart-2: 276 100% 50%;
    --chart-3: 275 80% 60%;
    --chart-4: 240 67% 94%;
    --chart-5: 240 20% 90%;

    --sidebar-background: 240 30% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 276 100% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 15% 88%;
    --sidebar-ring: 276 100% 50%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 5% 95%;
    --card: 240 10% 12%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 275 90% 70%;
    --primary-foreground: 275 100% 15%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 240 5% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 63%;
    --accent: 276 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 276 100% 60%;
    
    --chart-1: 275 90% 70%;
    --chart-2: 276 100% 60%;
    --chart-3: 275 70% 50%;
    --chart-4: 240 10% 10%;
    --chart-5: 240 5% 20%;

    --sidebar-background: 240 10% 8%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 275 90% 70%;
    --sidebar-primary-foreground: 275 100% 15%;
    --sidebar-accent: 276 100% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 5% 25%;
    --sidebar-ring: 276 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
